<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.productmanagement">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DelColor"
            android:label="青岛成凯塑胶包装制品有限公司" >
        </activity>
        <activity android:name=".DelProduName"
            android:label="青岛成凯塑胶包装制品有限公司" >
        </activity>
        <activity android:name=".QueryOut"
            android:label="青岛成凯塑胶包装制品有限公司" >
        </activity>
        <activity android:name=".QueryIn"
            android:label="青岛成凯塑胶包装制品有限公司" />
        <activity
            android:name=".AddProduName"
            android:label="青岛成凯塑胶包装制品有限公司" />
        <activity
            android:name=".AddColorName"
            android:label="青岛成凯塑胶包装制品有限公司" />
        <activity
            android:name=".QueryInOut"
            android:label="青岛成凯塑胶包装制品有限公司" />
        <activity
            android:name=".QueryManager"
            android:label="青岛成凯塑胶包装制品有限公司" />
        <activity
            android:name=".OutBound"
            android:label="青岛成凯塑胶包装制品有限公司" />
        <activity
            android:name=".UpDataManager"
            android:label="青岛成凯塑胶包装制品有限公司" />
        <activity
            android:name=".InBound"
            android:label="青岛成凯塑胶包装制品有限公司" />
        <activity
            android:name=".MakeManager"
            android:label="青岛成凯塑胶包装制品有限公司" />
        <activity
            android:name=".RegEdit"
            android:label="青岛成凯塑胶包装制品有限公司" />
        <activity
            android:name=".SuperManager"
            android:label="青岛成凯塑胶包装制品有限公司" />
        <activity android:name=".LoginPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>